
html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }


body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  letter-spacing: .25px;
  -webkit-font-smoothing: antialiased;
}

.main-body {

}

.navbar {
    background-color: #479D53;
    height: 100vh;
    min-width: 60px;
    position: fixed;
    z-index: 30;
    top: 0;
}

.section {
    margin-left: 64px;
    padding: 0;
}

.body-section {
  margin-top: 57px;
  height: calc(100vh - 57px);
}


.container {
    margin: 0 28px;
    position: relative;
}

.label {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.input, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
    border-radius: 3px;
}

.header {
  border-bottom: 1px solid #EFEFEF;
  padding: 0 28px;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

section.section.header {
    position: fixed;
    top: 0;
    width: calc(100% - 64px);
    background-color: #fff;
    z-index: 30;
    left: 0;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.button {
  font-size: 14px;
  font-weight: 600;
  padding: .6em 1em;
  min-height: 36px;
  background-color: #EFEFEF;
  border-color: #D1D1D1;
}

.button.is-primary {
  background-color: #199AD9;

}

.button.is-primary:hover {
  background-color: #42aadc;
}

.button-text {
  min-height: 19px;
  line-height: 1.25;
}

h1.section-title {
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0;
}

.field:not(:last-child) {
    margin-bottom: 20px;
}

td {
    font-size: 13px;
}

th {
    font-size: 12px;
}

.table td, .table th {
    padding: 0.65em .75em;
}

.table-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ace-box {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 180px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-bottom: 20px;

}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-card {
    width: 760px;
}

.modal-card-body {
    padding: 0;
}

.modal-card-head {
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #479D53;
    padding: 16px;
  }

  .modal-card-title {
    color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

  .modal-card-foot {
    justify-content: flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    background-color: #fff;
}

.with-list {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.remove-row {
  text-align: right;
}

td.remove-row.sheet-remove {
  text-align: center;
}

.fa-trash-alt {
  cursor: pointer;
  color: #9e9e9e;
}


input.input.sheet-input {
  border: none;
  border-radius: 0;
}

td.sheet-cell {
    padding: 0;
}

.navbar-item img {
    max-height: 40px;
}

.navbar-item {
    align-items: flex-start;
    color: #fff;
    font-size: 22px;
}

.navbar-brand{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-icon {
  margin: 8px 0;
}

.label-with-tooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.fa-info-circle {
  cursor: pointer;
  color: #9e9e9e;
  font-size: 13px;
}

.label-with-tooltip > .label:not(:last-child) {
  margin-bottom: 0;
}

.tooltip-container.tooltip {
    padding: 0 5px;
}

.badge[data-badge]::after {
    background: #3FBFE7;
}

.index-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    height: calc(100vh - 57px);
    margin-top: 57px;
    padding-top: 100px;
}

button.close-icon {
    background-color: transparent;
    border: none;
}

.close-icon > .fa-times {
    color: #fff;
    font-size: 20px;
}

button.close-icon {
    background-color: transparent;
    border: none;
}

button.button.dropdown-button {
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: top;
}

.feature-tags {
    margin: 20px 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    width: 100%;
}

.column.ft-left {
    padding-left: 0;
}

.column.ft-right {
    padding-right: 0;
}

.test-list-header {
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px;
}

.column.test-list-column {
    border-right: 1px solid #eaeaea;
    padding: 0;
}

.columns.modal-body-column {
    margin: 0;
}

.columns.body-column {
    margin: 0;
    height: 100%;
}

.modal-form {
    padding: 20px;
    max-width: 700px;
}

.next-test-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.next-test-buttons .button:not(:last-child) {
    margin-right: 12px;
}

.test-list {

}

.test-list > ol > li {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 0 12px;
    justify-content: space-between;
}

.test-list > ol > li:hover {
  background-color: #F7F9FA;
  cursor: pointer;
}

body {
  counter-reset: section;                     /* Set a counter named 'section', and its initial value is 0. */
}

.test-list > ol > li > p::before {
  counter-increment: section;                 /* Increment the value of section counter by 1 */
  content: counter(section);                  /* Display the value of section counter */
  padding-right: 6px;
}

.trash {
  visibility: hidden;
}

.container.body-container {
    margin: 0;
    height: 100%
}
