
html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }


body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  letter-spacing: .25px;
  -webkit-font-smoothing: antialiased;
}

.navbar {
    background-color: #479D53;
    height: 100vh;
    min-width: 60px;
    position: fixed;
    z-index: 30;
}

.section {
    margin-left: 60px;
    padding: 0;
}

.container {
    margin: 0 28px;
    position: relative;
}

.label {
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.input, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
    border-radius: 3px;
}

.header {
  border-bottom: 1px solid #EFEFEF;
  padding: 0 28px;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-size: 14px;
  font-weight: 600;
  padding: .6em 1em;
  min-height: 36px;
  background-color: #EFEFEF;
  border-color: #D1D1D1;
}

.button.is-primary {
  background-color: #199AD9;

}

.button.is-primary:hover {
  background-color: #42aadc;
}

.button-text {
  min-height: 19px;
  line-height: 1.25;
}

h1.section-title {
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0;
}

.field:not(:last-child) {
    margin-bottom: 30px;
}

td {
    font-size: 13px;
}

th {
    font-size: 12px;
}

.table td, .table th {
    padding: 0.65em .75em;
}

.table-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ace-box {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-bottom: 30px;

}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-card-head {
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #479D53;
  }

  .modal-card-title {
    color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}

  .modal-card-foot {
    justify-content: flex-end;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    background-color: #fff;
}
